@import url("./color.css");
@import url("./font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sportBookOfferDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 16px;
}
.sportsbookOfferWrapper h2 {
  font-family: var(--primary-font);
  color: var(--secondary-black);
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-left: 16px;
  margin-bottom: 12px;
}
.sportBookCard h3 sub {
  display: block;
  margin-top: 2px
}
.sportBookCardsWrapper{
  border-radius: 8px;
  margin-bottom: 12px;

  border: 1px solid #dae4e9;
  padding: 16px;
}
.sportBookCard {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  gap: 12px;
  border-radius: 8px;
  border: 1px;
}

.offerSectionBets {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 12px;
  margin-right: 12px;
}
.offerSectionBets p {
  margin-bottom: 8px;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  
}

.sportBookName p {
  font-family: var(--primary-font-semibold);
  color: var(--primary-grey-scale-2);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 12px;
}
.sportBookName h3 {
  font-family: var(--primary-font-semibold);
  color: var(--primary-black);
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  
}

.sportBookName sub {
  font-family: var(--primary-font);
  color: var(--primary-black);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  
}

.offersWrapperBtn {
  display: flex;
  flex-direction: column;
}

.offersWrapperBtn button {
  background-color: var(--primary-grey);
  font-family: var(--primary-font-bold);
  color: var(--primary-blue);
  padding: 10px 51px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #0066cc;
  opacity: 0px;
  margin-bottom: 12px;

  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
#offersWrapperBtnPlayNowBtn {
  background-color: var(--primary-blue);
  color: var(--primary-grey);
}

/* media query */

@media (min-width: 768px) {
  .offersWrapperBtn {
    display: flex;
    flex-direction: row;

    width: 100%;
  }

  .offersWrapperBtn button {
    width: 100%;
  }
  .sportBookOfferDiv {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
  }

  .sportsbookOfferWrapper h2 {
    font-family: var(--primary-font-bold);
    /* margin-top: 18px; */

    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    
  }
  .sportBookCard h3 sub {
    display: block;
    margin-top: 2px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1349px;
    margin: auto;
  }
  .dropdownMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sportBookCardsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sportNewsdivWrapperMain {
    display: flex;
    flex-direction: row;
  }
  .sportNewsCardReviews {
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
  }
  .sportBookCard {
    width: 400px;
    display: flex;
    gap: 24px;
  }
  .offersWrapperBtn {
    display: flex;
    flex-direction: column;
    width: 176px;
  }

  .offersWrapperBtn {
    display: flex;
    flex-direction: column;
    width: 176px;
  }
  .offersWrapperBtn button {
    background-color: var(--primary-grey);
    font-family: var(--primary-font-bold);
    color: var(--primary-blue);
    padding: 10px 51px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #0066cc;
    opacity: 0px;
    margin-bottom: 12px;

    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
 
  .sportNewsCardReviews {
    gap: 24px;
    margin: 0px;
    padding: 0px;
  }
  .sportsbookOfferWrapper {
    border: 1px solid #dae4e9;
    border-radius: 8px;
    box-shadow: 2px 2px 50px 0px #8596c340;
    margin-bottom: 32px;
  }

  .sportsbookOfferWrapper h2 {
    font-family: var(--primary-font-bold);
    margin-top: 18px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
   
  }
  .sportBookCard h3 sub {
    display: inline;
  }
  .sportBookOfferDiv {
    padding: 24px;
  }
}
