:root{
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --primary-grey:#FFFFFF;

    --primary-  : #000000;
    --secondary-black: #222222;
    --primary-blue: #0066CC;
    --primary-grey-scale:#787878;
    --primary-grey-scale-2:#666666;

 
}

